@import '../../../global-styles/styles/breakpoints.scss';

.tracklist-component {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 50px;

    & &__single-track {
        height: 89px;
        padding: 1px 50px 0 51px;
        border-radius: 17px;
        background-color: var(--track-color);
        display: flex;
        align-items: center;
        transition: background-color 0.15s ease-in-out;
    }

    & &__single-track--active {
        background-color: var(--active-color);
    }

    & &__single-track:hover:not(&__single-track--active) {
        background-color: var(--hover-color);
    }

    & &__single-track-order {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--text-color);
    }

    & &__single-track-details {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-left: 32px;
        flex-basis: 461px;
    }

    & &__single-track-album-cover-wrapper {
        height: 56px;
        width: 56px;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
    }

    & &__single-track-album-image {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    & &__single-track-name-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    & &__single-track-label {
        font-weight: 400;
        font-size: 12px;
        color: var(--text-color);
        width: fit-content;
    }

    & &__single-track-main-info {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--white);
        width: fit-content;
    }

    & &__single-track-artist-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex-basis: 414px;
    }

    & &__single-track-duration-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex-basis: 232px;
    }

    & &__single-track-options {
        display: flex;
        gap: 18px;
        align-items: center;
        margin-left: auto;
    }

    & &__single-track-button {
        padding: 0;
        cursor: pointer;
    }

    & &__single-track-favourite-button {
        width: 24px;
        height: 24px;
    }

    & &__single-track-more-options-button {
        width: 36px;
        height: 36px;
    }


    & &__single-track-favourite-icon,
    & &__single-track-more-options-icon {
        width: 100%;
    }

    @media screen and (max-width: $tablet-breakpoint) {
        margin-top: 24px;

        & &__single-track {
            padding: 0 24px 0 24px;
        }

        & &__single-track-order {
            margin-top: -6px;
        }

        & &__single-track-details {
            margin: -4px 0 0 24px;
            gap: 24px;
            flex-basis: 319px;
        }

        & &__single-track-artist-wrapper {
            margin-top: -6px;
            margin-left: -2px;
            flex-basis: 100px;
        }

        & &__single-track-duration-wrapper,
        & &__single-track-favourite-button {
            display: none;
        }

        & &__single-track-more-options-button {
            margin-top: -6px;
            margin-left: 1px;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        margin-top: -4px;

        & &__single-track-artist-wrapper {
            display: none;
        }

        & &__single-track {
            padding: 6px 24px 0px 24px;
        }
    }
}